<!doctype html>
<html class="modern no-js" lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-color" content="{{ settings.color_nav_bg }}">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    <!-- Social Meta Tags ===================================== -->
    {% include 'social-meta-tags' %}

    {% unless shop.description == blank %}
      <meta name="description" content="{{ shop.description | escape }}">
    {% endunless %}

    <script>
      window.theme = window.theme || {};
      theme.settings = {
        cartType: {{ settings.cart_type | json }}
      };
    </script>

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>


    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="template-password">

    <div class="password-page text-center">

      {{ content_for_layout }}

    </div>

    <div id="LoginModal" class="modal">
      <div class="modal__inner">
        <div class="modal__centered password-modal__content page-width text-center">
          <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
          <div class="password-login-form">
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="input-group">
                <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                <span class="input-group__btn">
                  <button type="submit" name="commit" class="btn btn--narrow">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </span>
              </div>
            {% endform %}
          </div>
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        <span class="icon icon-x" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'general.password_page.close_modal' | t | json }}</span>
      </button>
    </div>

    {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>
