
<div class="page-width--wide page-container">
  {% if cart.item_count > 0 %}

    <h1 class="visually-hidden">{{ 'cart.general.title' | t }}</h1>
    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
      <table class="responsive-table">
        <thead class="cart__row cart__header-labels small--hide">
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <th class="text-right">{{ 'cart.label.price' | t }}</th>
          <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-right">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr class="cart__row responsive-table__row">
              <td class="cart__table-cell--image small--text-center">
                <a href="{{ item.url | within: collections.all }}">
                  {% comment %}
                    More image size options at:
                      - http://docs.shopify.com/themes/filters/product-img-url
                  {% endcomment %}
                  <img class="cart__image" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td class="cart__table-cell--meta small--text-left">
                <p class="h3">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </p>
                {% unless item.variant.title contains 'Default' %}
                  <p class="txt--minor">{{ item.variant.title }}</p>
                {% endunless %}

                {% unless item.selling_plan_allocation == nil %}
                  <span class="txt--minor">{{ item.selling_plan_allocation.selling_plan.name }}</span>
                  <br/>
                {% endunless %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  Line item properties come in as having two parts. The first part will be passed with the default form,
                  but p.last is the actual custom property and may be blank. If it is, don't show it.

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% assign first_character_in_key = p.first | truncate: 1, '' %}
                    {% unless p.last == blank or first_character_in_key == '_' %}
                      {% if forloop.first %}
                        <span class="txt--minor">{{ p.first }}: </span>
                      {% else %}
                        <br/>
                        <span class="txt--minor">{{ p.first }}: </span>
                      {% endif %}

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a class="txt--minor" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        <span class="txt--minor">{{ p.last }}</span>
                      {% endif %}

                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <p class="txt--minor cart__remove">
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                </p>
              </td>
              <td class="text-right" data-label="{{ 'cart.label.price' | t }}">
                {%- if item.original_price != item.final_price -%}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <del>{{ item.original_price | money }}</del>
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <span class="order-discount">{{ item.final_price | money }}</span>
                {%- else -%}
                  {{ item.original_price | money }}
                {%- endif -%}
                {%- if item.variant.available and item.variant.unit_price_measurement -%}
                  {% include 'product-unit-price', variant: item.variant, available: item.variant.available %}
                {%- endif -%}

                {%- if item.line_level_discount_allocations != blank -%}
                  <ul class="order-discount order-discount--list order-discount--cart-list order-discount--title order-discount--cart order-discount--cart-title" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount_allocation in item.line_level_discount_allocations -%}
                      <li class="order-discount__item">
                        <span class="icon icon-saletag" aria-hidden="true"></span>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </td>
              <td data-label="{{ 'cart.label.quantity' | t }}" class="large-up--text-center">
                <input type="number" data-ajax-qty name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}">
              </td>
              <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
                {%- if item.original_line_price != item.final_line_price -%}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <del>{{ item.original_line_price | money }}</del>
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <span class="order-discount">{{ item.final_line_price | money }}</span>
                {%- else -%}
                  {{ item.original_line_price | money }}
                {%- endif -%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <footer class="cart__footer">
        <div class="grid">
          {% if settings.cart_notes_enable %}
            <div class="grid__item medium-up--one-half cart__notes">
              <label for="CartSpecialInstructions" class="label--block">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="input--block">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-center{% if settings.cart_notes_enable %} medium-up--one-half medium-up--text-right{% endif %}">
            {%- if cart.cart_level_discount_applications != blank -%}
              <div class="order-discount-wrapper-cart">
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <span class="order-discount order-discount--title order-discount--cart-title">
                    <span class="icon icon-saletag" aria-hidden="true"></span><span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span>{{- discount_application.title -}}
                  </span>
                  <span class="order-discount">-{{ discount_application.total_allocated_amount | money }}</span>
                {%- endfor -%}
              </div>
            {%- endif -%}
            <p class="cart__subtotal-container">
              <span class="cart__subtotal-title h4">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </p>
            {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}

            <p class="txt--minor txt--emphasis cart__policies rte">{{ taxes_shipping_checkout }}</p>
            <p>
              <button type="submit" name="checkout" class="btn">{{ 'cart.general.checkout' | t }}</button>
            </p>
            <button type="submit" name="update" class="text-link txt--minor">{{ 'cart.general.update' | t }}</button>
          </div>
        </div>
      </footer>
    </form>
  {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <div class="text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <p class="cart--cookie-message">{{ 'cart.general.cookies_required' | t }}</p>
      <p class="cart--continue-browsing">{{ 'cart.general.continue_browsing_html' | t: link: routes.all_products_collection_url }}</p>
    </div>
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "cs": "Košík",
    "da": "Indkøbskurv",
    "de": "Warenkorb",
    "en": "Cart",
    "es": "Carrito",
    "fi": "Ostoskori",
    "fr": "Panier",
    "it": "Carrello",
    "ja": "カート",
    "ko": "카트",
    "nb": "Handlekurv",
    "nl": "Winkelwagen",
    "pl": "Koszyk",
    "pt-BR": "Carrinho",
    "pt-PT": "Carrinho",
    "sv": "Kundvagn",
    "th": "ตะกร้าสินค้า",
    "tr": "Sepet",
    "vi": "Giỏ hàng",
    "zh-CN": "购物车",
    "zh-TW": "購物車"
  },
  "class": "cart-template-section",
  "settings": []
}
{% endschema %}
